parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - message: '~Strict comparison using === between int and false will always evaluate to false.~'
          path: 'src/ApcuRateLimiter.php'

includes:
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
